.typewriter-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #21212A;
  color: #f0f0f7; //#fea04f
}